@import "../../../Estilos/variaveis";

.galeria 
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 800px;
  color: $populares-cor-texto;
  font-family: $fonte-family-padrao;
  font-size: 16px;

  h2 
  {
    margin-top: 5.3rem;
  }

  &__listaCards
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 77%;
    padding: 0;
    list-style: none;

    img
    {
      width: 150px;
      height: 100px;
    }
  }
}