.formulario{
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 5% 0 2.5% 0;
}

.formulario form{
    background-color: #f8c3c3;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
}
