.formularios{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 20px;
}

.formularios form{
    background-color: #f8c3c3;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 36px 64px;

}
