.familia{
    position: relative;
    text-align: center;
    padding: 32px;
    color: black;
    margin: 16px 0;
}

.familia h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 4px;
}

.familia .pessoas{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;

}

.input-cor{
    position: absolute;
    top: 20px;
    right: 50px;
}